<% if kitten.errors.any? %>
  <ul>
    <% kitten.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: kitten do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br>
  <%= form.label :age %><br>
  <%= form.text_field :age %><br>
  <%= form.label :cuteness %><br>
  <%= form.text_field :cuteness %><br>
  <%= form.label :softness %><br>
  <%= form.text_field :softness %><br><br>
  <%= form.submit %>
<% end %>